body {
  font-family: Arial, sans-serif;
  width: 180px;
}

.container {
  text-align: center;

  padding: 1px;
  border-radius: 8px;
}

h1 {
  color: #2c3e50;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

input[type="checkbox"] {
  margin-right: 10px;
}
.footer {
  color: #999;
  margin-top: 10px;
  font-size: 12px;
}